h2{
  color: rgb(58, 7, 92);
  background-color: rgb(58, 7, 92);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: justify;
  hyphens: auto;
  text-indent: 10px;

  padding: 45px;
  margin: 45px;
  width: 35%;

  line-height: 34px;
  letter-spacing: 2px;

  justify-content: center;
  align-items: center;
}

ol{
  list-style-type: square;
  background: rgb(58, 7, 92);
  padding: 20px;
}

ul{
  list-style-type: disc;
  background: rgb(225, 221, 231);
  padding: 50px;
  list-style-position: outside;
}

a{
text-decoration: none;
}

h1{
    color: rgb(196, 174, 148);
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: rgb(144, 117, 150);
    background-color: rgb(58, 7, 92);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    hyphens: auto;
    text-indent: 50px;

    padding: 20px;
    margin: 45px;
    width: 92%;

    line-height: 24px;
    letter-spacing: 4px;
    column-count: 2;
    column-gap: 24px;
    column-rule: 2px dotted rgb(180, 155, 179);

    justify-content: center;
    align-items: center;
}

span{
    color: rgb(196, 174, 148);
    font-weight: bold;
    letter-spacing: 0px;
    font-size: x-large;
    text-decoration: underline;
}

img{
    display: block;
    margin: auto;
    width: 50%;
}

.navbar {
    overflow: hidden;
    background-color: #320a52;
    position: fixed; /* Set the navbar to fixed position */
    justify-content: center;
    align-items: center;
    top: 0; /* Position the navbar at the top of the page */
    width: 25%; /* Full width */
  }
  /* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #cebdca;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #dbc8d8;
    color: rgb(141, 66, 136);
    justify-content: center;
  }
  
  /* Main content */
  .main {
    margin-top: 50px; /* Add a top margin to avoid content overlay */
    text-align: center;
  }

  body {
    background-color: rgb(225, 221, 231);
  } 